<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 static">
      <app-staff-execute-left-side-bar></app-staff-execute-left-side-bar>
    </div>
    <div class="col-md-8">
      <ol class="breadcrumb">
        <li>
          <a href="/">Trang chủ</a>
        </li>
        <li>
          <a href="/procedure">Dịch vụ công</a>
        </li>
        <li>
          <a href="/staff/manage">Xử lý hồ sơ</a>
        </li>
        <li class="active">HS00001</li>
      </ol>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Thông tin người nộp</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-2">
                <div class="profile-info">
                    <img src="assets/images/user_ava.png" alt="" class="img-responsive profile-photo" />
                </div>
            </div>
            <div class="col-md-5">
              <div>
                  <h5 style="margin-top:12px"><span class="glyphicon glyphicon-user"></span> Nguyen My Dung</h5>
                </div>  
                <div>
                    <p style="margin-top:12px"><span class="glyphicon glyphicon-phone"></span> 0912456788</p>
                  </div>
            </div>
            <div class="col-md-5">
                <div>
                    <p style="margin-top:12px"><span class="glyphicon glyphicon-envelope"></span> nguyenmydung@gmail.com</p>
                  </div>  
                  <div>
                      <p style="margin-top:12px"><span class="glyphicon glyphicon-home"></span> 18/32 Bùi Thế Mĩ, Phường 8, Quận 5, Thành phố Bình Dương</p>
                    </div>
            </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Hồ sơ</h3>
        </div>
        <div class="panel-body">
          <p>
            <b>Tên hồ sơ:</b> Thủ tục cấp giấy chứng nhận vệ sinh an toàn thực phẩm</p>
          <p>
            <b>Mã hồ sơ:</b> HS00001</p>
          <p>
            <b>Hồ sơ bao gồm:</b>
          </p>
          <ol>
            <li>
              <p>
                <b>Đơn đề nghị cấp Giấy chứng nhận cơ sở đủ điều kiện an toàn thực phẩm (theo mẫu)</b>
              </p>
              <p>don_de_nghi.docx</p>
            </li>
            <li>
              <p>
                <b>Giấy chứng nhận đăng ký kinh doanh có đăng ký ngành nghề kinh doanh dịch vụ ăn uống (bản sao có xác nhận
                  của cơ sở)</b>
              </p>
              <p>giay_chung_nhan.docx</p>
            </li>
          </ol>
        </div>
      </div>

      <p>
        <button type="button" class="btn btn-primary">Hoàn tất</button>
        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-default">Yêu cầu bổ sung</button>
      </p>

      <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Yêu cầu bổ sung hồ sơ</h4>
              </div>
              <div class="modal-body">
                <p>Nội dung cần bổ sung</p>
                <textarea></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Gửi yêu cầu</button>
              </div>
            </div>
    
          </div>
        </div>

    </div>
  </div>
</div>
