<!--news-feed links ends-->
<div id="chat-block">
  <div class="title">Online</div>
  <ul class="online-users list-inline">
    <li>
      <a href="newsfeed-messages.html"
         title="Linda Lohan">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html"
         title="Sophia Lee">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html"
         title="John Doe">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html"
         title="Alexis Clark">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html"
         title="James Carter">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html"
         title="Robert Cook">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html"
         title="Richard Bell">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html"
         title="Anna Young">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html"
         title="Julia Cox">
        <img alt="user"
             class="img-responsive profile-photo"
             src="http://placehold.it/300x300" />
        <span class="online-dot"></span>
      </a>
    </li>
  </ul>
</div>
<!--chat block ends-->
