<div class="container">
  <!-- Timeline
      ================================================= -->
  <div class="timeline" style="margin-top:-30px">
    <app-timeline-cover></app-timeline-cover>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">

          <!-- About
              ================================================= -->
          <div class="about-profile">
            <div class="about-content-block">
              <h4 class="grey">
                <i class="ion-ios-information-outline icon-in-title"></i>Thông tin cá nhân</h4>
              <table style="width: 800px">
                <tr>
                  <th class="title"><i class="fa fa-user icon-right" aria-hidden="true"></i>Họ tên:</th>
                  <td class="content">Nguyễn Mỹ Dung</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-calendar icon-right" aria-hidden="true"></i>Ngày sinh:</th>
                  <td class="content">21-10-1990</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-hospital-o icon-right" aria-hidden="true"></i>Nơi sinh:</th>
                  <td class="content">Tp. Hồ Chí Minh</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-venus-mars icon-right" aria-hidden="true"></i>Giới tính:</th>
                  <td class="content">Nữ</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-map-marker icon-right" aria-hidden="true"></i>Địa chỉ:</th>
                  <td class="content">63 Chu Văn An, Phường 6, Quận Bình Thạnh, TP. Hồ Chí Minh</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-home icon-right" aria-hidden="true"></i>Số sổ hộ khẩu:</th>
                  <td class="content">1234</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-users icon-right" aria-hidden="true"></i>Chủ hộ:</th>
                  <td class="content">Nguyễn Văn Bình</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-handshake-o icon-right" aria-hidden="true"></i>Quan hệ với chủ hộ:</th>
                  <td class="content">Con gái</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-phone icon-right" aria-hidden="true"></i>Số điện thoại nhà:</th>
                  <td class="content">0650831414</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-mobile icon-right" aria-hidden="true"></i>Số điện thoại di động:</th>
                  <td class="content">0123456788</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-briefcase icon-right" aria-hidden="true"></i>Nghề nghiệp:</th>
                  <td class="content">Làm nông</td>
                </tr>
                <tr>
                  <th class="title"><i class="fa fa-location-arrow icon-right" aria-hidden="true"></i>Nơi làm việc hiện tại:</th>
                  <td class="content">Tân Uyên</td>
                </tr>
              </table>
            </div>
            <div class="about-content-block">
              <h4 class="grey">
                <i class="ion-ios-heart-outline icon-in-title"></i>Sở thích</h4>
              <ul class="interests list-inline">
                <li>
                  <span class="int-icons" title="Bycycle riding">
                    <i class="icon ion-android-bicycle"></i>
                  </span>
                </li>
                <li>
                  <span class="int-icons" title="Photography">
                    <i class="icon ion-ios-camera"></i>
                  </span>
                </li>
                <li>
                  <span class="int-icons" title="Shopping">
                    <i class="icon ion-android-cart"></i>
                  </span>
                </li>
                <li>
                  <span class="int-icons" title="Traveling">
                    <i class="icon ion-android-plane"></i>
                  </span>
                </li>
                <li>
                  <span class="int-icons" title="Eating">
                    <i class="icon ion-android-restaurant"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>