.title {
    font-size: 15px;
    padding: 8px;
    width: 100px;
    text-align: left;
    background-color: #f2f2f2;
    color: #1885b4
}

.content {
    font-size: 15px;
    padding: px;
    padding-left:20px;
    width: 200px;
    text-align: left;
    background-color: #fafafa;
}

.icon-right{
    margin-left: 5%;
    margin-right: 10%;
    width: 15px;
}