<!-- Newsfeed Common Side Bar Left
          ================================================= -->
<div class="profile-card">
  <img alt="user"
       class="profile-photo"
       src="http://placehold.it/300x300" />
  <h5>
    <a class="text-white"
       href="timeline.html">Lê Viết Toàn</a>
  </h5>
  <span class="text-white"
        style="font-size: 12px">
  <i class="ion ion-android-person-add"></i>1,299 theo dõi</span>
</div>
<!--profile card ends-->
<ul class="nav-news-feed">
  <li>
    <i class="icon ion-ios-paper"></i>
    <div>
      <a href="newsfeed.html">Bản tin của tôi</a>
    </div>
  </li>
  <li>
    <i class="icon ion-ios-people-outline"></i>
    <div>
      <a href="newsfeed-friends.html">Bạn bè</a>
    </div>
  </li>
  <li>
    <i class="icon ion-chatboxes"></i>
    <div>
      <a href="newsfeed-messages.html">Tin nhắn</a>
    </div>
  </li>
  <li>
    <i class="icon ion-images"></i>
    <div>
      <a href="newsfeed-images.html">Hình ảnh</a>
    </div>
  </li>
</ul>
