<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 static">
      <app-complain-left-side-bar></app-complain-left-side-bar>
    </div>
    <div class="col-md-8">
      <ol class="breadcrumb">
        <li>
          <a href="/">Trang chủ</a>
        </li>
        <li class="active">Góp ý</li>
      </ol>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Gửi góp ý</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Các góp ý của người dân</h3>
        </div>
        <div class="panel-body">
          <form class="form">
            <div class="row">
              <div class="col-xs-6 form-group">
                <label>Bạn muốn góp ý về chủ đề gì?</label>
                <select class="form-control" id="sel1">
                    <option>Cán bộ</option>
                    <option>Môi trường</option>
                    <option>Dịch vụ xã hội</option>
                    <option>Khác</option>
                  </select>
              </div>
              <div class="col-xs-6 form-group">
                <label>Bạn muốn góp ý về việc gì?</label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Bạn có thể mô tả về vấn đề này được không?</label>
                    <div>
                      <textarea class="form-control" rows="4"></textarea>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 form-group">
                    <div class="col-sm-12">
                      <button class="btn btn-primary pull-left">Gửi góp ý</button>
                      <input style="margin-left: 20px" type="checkbox">  Tôi muốn góp ý ẩn danh
                    </div>
                  </div>

                </div>
          </form>
        </div>
      </div>

    </div>
  </div>
