<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 static">
      <app-left-side-bar></app-left-side-bar>
    </div>
    <div class="col-md-8">
      <ol class="breadcrumb">
        <li>
          <a href="/">Trang chủ</a>
        </li>
        <li>
          <a href="/procedure">Dịch vụ công</a>
        </li>
        <li class="active">Tra cứu hồ sơ</li>
      </ol>

      <div class="panel panel-primary">
        <div class="panel-heading">Tra cứu hồ sơ</div>
        <div class="panel-body">
          <div class="row">
            <p class="custom-label">
              <strong>Nhập mã số biên nhận để xem hồ sơ của bạn</strong>
            </p>
            <div class="form-group col-sm-4">
              <input id="add-interest" class="form-control input-group-lg" type="text" name="interest" value="7642016110000014/BNYT-ATTP"
              />
            </div>
            <div class="form-group col-sm-4">
              <button class="btn btn-primary">Tra cứu</button>
            </div>
          </div>

          <hr>
          <div class="panel panel-info">
            <div class="panel-heading"><strong>Mã số biên nhận:&nbsp;&nbsp;&nbsp;&nbsp;</strong>7642016110000014/BNYT-ATTP</div>
            <div class="panel-body">
              <table style="width: 800px">
                <tr>
                  <th class="title">Tên hồ sơ:</th>
                  <td class="content">Báo cáo định kỳ tình hình sử dụng lao động</td>
                </tr>
                <tr>
                  <th class="title">Mã số hồ sơ:</th>
                  <td class="content">21101990</td>
                </tr>
                <tr>
                  <th class="title">Ngày nộp hồ sơ:</th>
                  <td class="content">21-10-2017</td>
                </tr>
                <tr>
                  <th class="title">Ngày hẹn trả:</th>
                  <td class="content">21-12-2017</td>
                </tr>
                <tr>
                  <th class="title">Tình trạng:</th>
                  <td class="content">Đang xử lý</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="panel panel-info">
              <div class="panel-heading"><strong>Mã số biên nhận:&nbsp;&nbsp;&nbsp;&nbsp;</strong>7642016110000014/BNYT-ATTP</div>
              <div class="panel-body">
                <table style="width: 800px">
                  <tr>
                    <th class="title">Tên hồ sơ:</th>
                    <td class="content">Báo cáo định kỳ tình hình sử dụng lao động</td>
                  </tr>
                  <tr>
                    <th class="title">Mã số hồ sơ:</th>
                    <td class="content">21101990</td>
                  </tr>
                  <tr>
                    <th class="title">Ngày nộp hồ sơ:</th>
                    <td class="content">21-10-2017</td>
                  </tr>
                  <tr>
                    <th class="title">Ngày hẹn trả:</th>
                    <td class="content">21-12-2017</td>
                  </tr>
                  <tr>
                    <th class="title">Tình trạng:</th>
                    <td class="content">Đang xử lý</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Mã số biên nhận:&nbsp;&nbsp;&nbsp;&nbsp;</strong>7642016110000014/BNYT-ATTP</div>
                <div class="panel-body">
                  <table style="width: 800px">
                    <tr>
                      <th class="title">Tên hồ sơ:</th>
                      <td class="content">Báo cáo định kỳ tình hình sử dụng lao động</td>
                    </tr>
                    <tr>
                      <th class="title">Mã số hồ sơ:</th>
                      <td class="content">21101990</td>
                    </tr>
                    <tr>
                      <th class="title">Ngày nộp hồ sơ:</th>
                      <td class="content">21-10-2017</td>
                    </tr>
                    <tr>
                      <th class="title">Ngày hẹn trả:</th>
                      <td class="content">21-12-2017</td>
                    </tr>
                    <tr>
                      <th class="title">Tình trạng:</th>
                      <td class="content">Đang xử lý</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="panel panel-info">
                  <div class="panel-heading"><strong>Mã số biên nhận:&nbsp;&nbsp;&nbsp;&nbsp;</strong>7642016110000014/BNYT-ATTP</div>
                  <div class="panel-body">
                    <table style="width: 800px">
                      <tr>
                        <th class="title">Tên hồ sơ:</th>
                        <td class="content">Thủ tục cấp mới giấy chứng nhận đăng ký kinh doanh hộ kinh doanh</td>
                      </tr>
                      <tr>
                        <th class="title">Mã số hồ sơ:</th>
                        <td class="content">21101990</td>
                      </tr>
                      <tr>
                        <th class="title">Ngày nộp hồ sơ:</th>
                        <td class="content">21-10-2017</td>
                      </tr>
                      <tr>
                        <th class="title">Ngày hẹn trả:</th>
                        <td class="content">21-12-2017</td>
                      </tr>
                      <tr>
                        <th class="title">Tình trạng:</th>
                        <td class="content">Đang xử lý</td>
                      </tr>
                    </table>
                  </div>
                </div>
          <ul class="pagination">
            <li>
              <a href="#">&laquo;</a>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
