<ul class="edit-menu">
  <li>
    <i class="icon ion-ios-information-outline"></i>
    <a [routerLink]="['/timeline/edit-profile-info']">Basic Information</a>
  </li>
  <li>
    <i class="icon ion-ios-briefcase-outline"></i>
    <a [routerLink]="['/timeline/edit-profile-jobs']">Education and Work</a>
  </li>
  <li>
    <i class="icon ion-ios-heart-outline"></i>
    <a [routerLink]="['/timeline/edit-profile-interests']">My Interests</a>
  </li>
  <li class="active">
    <i class="icon ion-ios-settings"></i>
    <a [routerLink]="['/timeline/edit-profile-settings']">Account Settings</a>
  </li>
  <li>
    <i class="icon ion-ios-locked-outline"></i>
    <a [routerLink]="['/timeline/edit-profile-password']">Change Password</a>
  </li>
</ul>
