<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 static">
      <app-leader-announcement-left-side-bar></app-leader-announcement-left-side-bar>
    </div>
    <div class="col-md-8">
      <ol class="breadcrumb">
        <li>
          <a href="/">Trang chủ</a>
        </li>
        <li class="active">Đăng thông báo</li>
      </ol>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Đăng thông báo</h3>
        </div>
        <div class="panel-body">
          <form class="form">
            <div class="row">
              <div class="col-sm-12 form-group">
                <label>Thông báo về</label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label>Nội dung</label>
                <div>
                  <textarea class="form-control" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 form-group">
                <div class="col-sm-12">
                  <button class="btn btn-primary pull-left">Gửi góp ý</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
