<div class="sign-up-form">
  <a href="index.html" class="logo">
    <img src="/assets/images/logo.png" alt="Friend Finder" />
  </a>
  <h2 class="text-white">Social intranet</h2>
  <div class="line-divider"></div>
  <div class="form-wrapper">
    <p class="signup-text">Cùng trải nghiệm những tiện ích của cư dân thành phố thông minh</p>
    <form action="#">
      <fieldset class="form-group">
        <input type="email" class="form-control" id="example-email" placeholder="Email">
      </fieldset>
      <fieldset class="form-group">
        <input type="password" class="form-control" id="example-password" placeholder="Mật khẩu">
      </fieldset>
    </form>
    <button (click)="login()" class="btn-secondary">Đăng nhập</button>
  </div>
</div>
