<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 static">
      <app-newsfeed-left-side-bar></app-newsfeed-left-side-bar>
      <app-newsfeed-online-bar></app-newsfeed-online-bar>
    </div>
    <div class="col-md-6">

      <!-- Post Create Box
            ================================================= -->
      <div class="create-post">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <img src="{{user.avatar}}" alt="" class="profile-photo-md" />
              <textarea [(ngModel)]="post.content" name="post"  cols="100" rows="2" class="form-control" placeholder="Bạn đang nghĩ gì ?"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div style="float: right" class="tools">
              <button (click)="onPost()" class="btn btn-primary pull-right">Đăng bài</button>
              <ul class="publishing-tools list-inline">
                <li>
                  <a href="#">
                    <i class="ion-images"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Post Create Box End-->
      <ng-container>
        <div *ngFor="let item of posts; let i = index" class="post-content">
          <div class="post-container">
            <img src="{{user.avatar}}" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
              <div class="user-info">
                <h5>
                  <a href="timeline.html" class="profile-link">{{user.name}}</a>
                </h5>
                <p class="text-muted">{{ item.date | date:'yyyy-MM-dd HH:mm a' }}</p>
              </div>
              <div class="reaction">
                <a class="btn text-green">
                  <i class="icon ion-thumbsup"></i> {{item.likes}}</a>
                <a class="btn text-red">
                  <i class="fa fa-thumbs-down"></i> {{item.dislikes}}</a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p>{{item.content}}</p>
              </div>
              <div class="line-divider"></div>
              <div *ngFor="let cmt of item.comments" class="post-comment">
                <img src="{{user.avatar}}" alt="" class="profile-photo-sm" />
                <p>
                  <a href="timeline.html" class="profile-link">{{user.name}} </a>
                  {{cmt.content}}
                </p>
              </div>
              <div class="post-comment">
                <img src="{{user.avatar}}" alt="" class="profile-photo-sm" />
                <input (keypress)="onComment(i, $event.keyCode)" [(ngModel)]="comment.content" type="text" class="form-control" placeholder="Post a comment">
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      </div>
      <!-- Newsfeed Common Side Bar Right
          ================================================= -->
      <div class="col-md-3 static">
        <div class="suggestions" id="sticky-sidebar">
          <app-newsfeed-noti-bar></app-newsfeed-noti-bar>
          <app-newsfeed-event-bar></app-newsfeed-event-bar>
        </div>
      </div>
    </div>
  </div>
