<div class="timeline-cover">

    <!--Timeline Menu for Large Screens-->
    <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="profile-info">
                        <img src="assets/images/user_ava.png" alt="" class="img-responsive profile-photo" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 style="margin-top:12px">Nguyen My Dung</h3>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="list-inline profile-menu">
                    <li>
                        <a [routerLink]="['/timeline']">Dòng thời gian</a>
                    </li>
                    <li>
                        <a [routerLink]="['/timeline/about']">Hồ sơ của tôi</a>
                    </li>
                    <li>
                        <a [routerLink]="['/timeline/friends']">Bạn bè</a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/timeline/friends']">Friends</a>
                    </li> -->
                </ul>
                <ul class="follow-me list-inline">
                    <li>
                        <button class="btn-primary">Add Friend</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!--Timeline Menu for Large Screens End-->

    <!--Timeline Menu for Small Screens-->
    <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
            <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
            <h4>Sarah Cruiz</h4>
            <p class="text-muted">Creative Director</p>
        </div>
        <div class="mobile-menu">
            <ul class="list-inline">
                <li>
                    <a [routerLink]="['/timeline']" class="active">Timeline</a>
                </li>
                <li>
                    <a [routerLink]="['/timeline/about']">About</a>
                </li>
                <li>
                    <a [routerLink]="['/timeline/album']">Album</a>
                </li>
                <li>
                    <a [routerLink]="['/timeline/friends']">Friends</a>
                </li>
            </ul>
            <button class="btn-primary">Add Friend</button>
        </div>
    </div>
    <!--Timeline Menu for Small Screens End-->

</div>